// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
  font: sans-serif;
  color: #212;
}
h2 {
	text-align: center;
}
.site-footer {
	text-align: center;
	height: 30px;
	background: orange;
}